<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css.css">
</head>
<body>
    <h1>Naše projekty :</h1>
    <br>
    <br>
    <br>
<form method="post" action="/beskydy">
    <h2>Záchrana hor a životního prostředí v Beskydách!</h2>
    <input type="submit" value="Více informací">
</form>
    <br>
<form method="post" action="/promale">
    <h2>Organizování zábavy pro nejmenší!</h2>
    <input type="submit" value="Více informací">
</form>
    <br>
<form method="post" action="/vydej">    
    <h2>Pomoc výdeju potravin potřebným!</h2>
    <input type="submit" value="Více informací">
</form>
    <br>
<form method="post" action="/komunitzah">
    <h2>Pomoc s komunitní zahrádkou!</h2>
    <input type="submit" value="Více informací">
</form>
    <br>
<form method="post" action="/senior">
    <h2>Tvoření aktivit pro seniory!</h2>
    <input type="submit" value="Více informací">
</form>
    <br>
</body>
</html>