<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css.css">
</head>
<body>
    <h1>Pomož Beskydám!</h1>
<form method="post">
    <p>- tým dobrovolníků, který bude procházet naplánovanou cestu Beskydami a přitom vybírat z přírody nečistoty</p>
    <p>- nářadí a potřebné věci i s občerstvením jsou zajištěny. Doporučuje se vzít si batoh</p>
    <p>- naplánovaná cesta má 15-20 kilometrů</p>
    <p>- datum akce: 25.6.2024</p>

</form>
<form method="post" action="/beskydy_s">
    <input type="submit" value="Chci se zapojit!">
   </form>


    <div class="beskydy">
    <img src="https://g.denik.cz/71/ff/lyse-hore-pri-velkem-cisteni-beskyd-patri-extra-pozornost-01.jpg">
    </div>
</body>
</html>