<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/prihlas_se">
        <h3>Zadej přihlašovací jméno</h3>
        <input type="text" name="p_jmeno">
        <h3>Zadej přihlašovací příjmení</h3>
        <input type="text" name="p_prijmeni">
        <h3>Zadej přihlašovací email</h3>
        <input type="email" name="p_email">
        <h3>Zadej přihlašovací telefon</h3>
        <input type="number" name="p_telefon">
        <br>
        <input type="submit">
        <br>
        </form> 
        {{spravne}}
        
        
          
</body>
</html>