<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>Senior: {{ statistika["senior_s"] }} {{jmeno1}}</p><br>
    <p>Komunitzah: {{ statistika["komunitzah_s"] }} {{jmeno4}} </p><br>
    <p>Vydej: {{ statistika["vydej_s"] }} {{jmeno5}}</p><br> 
    <p>Promale: {{ statistika["promale_s"] }} {{jmeno3}}</p><br>
    <p>Beskydy: {{ statistika["beskydy_s"] }} {{jmeno2}}</p><br>
    
</body>
</html>