<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>Senior: {{ statistika["senior_s"] }} - zúčastnění: {{ jmeno }} {{ prijmeni }}</p>
    <p>Komunitzah: {{ statistika["komunitzah_s"] }} - zúčastnění: {{ jmeno }} {{ prijmeni }}</p>
    <p>Vydej: {{ statistika["vydej_s"] }} - zúčastnění: {{ jmeno }} {{ prijmeni }}</p>
    <p>Promale: {{ statistika["promale_s"] }} - zúčastnění: {{ jmeno }} {{ prijmeni }}</p>
    <p>Beskydy: {{ statistika["beskydy_s"] }} - zúčastnění: {{ jmeno }} {{ prijmeni }}</p>
    
</body>
</html>