<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Přihlaš se!</h1>
   <form method="post" action="/">
    <h3>Zadej jméno</h3>
    <input type="text" name="jmeno">
    <h3>Zadej prijmeni</h3>
    <input type="text" name="prijmeni">
    <h3>Zadej email</h3>
    <input type="email" name="email">
    <h3>Zadej telefon</h3>
    <input type="number" name="telefon">
    <h3>Zadej heslo</h3>
    <input type="text" name="heslo">
    <input type="submit">
    <br>
    
   </form> 

   <form method="post" action="/uzivatele">
    <input type="submit" value="Všichni uživatelé">
   </form>
</body>
</html>