<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css.css"><!--poznámka pro příště: Aby mi css fungovalo všude, tak to musím propojit i na těch ostatních html stránkách!! Kdybych to nechal jen na té základní, tak to bude platit jen na té základní stránce a nikde jinde!!-->
</head>
<body>
   <h1>Připoj se k dobrovolníkům!</h1>
   <form method="post" action="/">
    <h3>Zadej jméno</h3>
    <input type="text" name="jmeno">
    <h3>Zadej příjmení</h3>
    <input type="text" name="prijmeni">
    <h3>Zadej email</h3>
    <input type="email" name="email">
    <h3>Zadej telefon</h3>
    <input type="number" name="telefon">
    <br>
    <input type="submit">
    <br>
    </form> 
    <br>
    <br>
   <form method="post" action="/uzivatele">
    <input type="submit" value="Všichni uživatelé">
   </form>
   <br>
   <form method="post" action="/tvurce">
    <input type="submit" value="Info o tvůrci stránky">
   </form>
   <br>
   <form method="post" action="/aktualniprojekty">
    <input type="submit" value="Aktuální programy">
   </form>
   
</body>
</html>