<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css.css">
</head>
<body>
    <h2>Informace o tvůrci stránky</h2>
    <form>
        <p>Jméno: Martin Rusina</p>
        <p>email: tvurcestranky1@seznam.cz</p>
        <p>telefon: +420 858 921 123</p>
        <p>Datum vytvoření stránky: 27.5.2024</p>
        <br>é
        <p>K čemu stránka slouží? : Stránka představuje organizaci komunity dobrovolníků. Lidé se mohou přihlásit, a vidět všechny ostatní členy. Jsou zde dobrovolnické projekty, do kterých se může každý člen zapojit</p>
    </form>
</body>
</html>