<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Informace o tvůrci stránky</h2>
    <form>
        <p>Jméno: Martin Rusina</p>
        <p>email: tvurcestranky1@seznam.cz</p>
        <p>telefon: +420 858 921 123</p>
        <p>Datum vytvoření stránky: 27.5.2024</p>
        <br>
        <h4>info o stránce: Stránka je v podstatě komunita dobrovolníků. Lidé se mohou přihlásit, a vidět všechny ostatní členy. Taky tu jsou k vidění různé aktuální akce, co může každý člen plnit.</h4>
    </form>
</body>
</html>